html, body {
    margin: 0;
    padding: 0;
  }
  div.sketch-holder input[type=range] {
  
  }
  div.menu a {
    width: 300px;
    padding-top: 10px;
  }
  canvas, input[type=range], a {
    display: block;
    margin: auto;
  }