body {
    background-color: lightgray;
}

#match {
    min-width: 97vw;
    min-height: 97vh;
}

#match.state-giving-cards {
    border: green 1px solid;
}

#match.state-cant-join {
    border: red 1px solid;
}

#match.state-waiting {
    border: yellow 3px solid;
}

#match.state-unknow {
    border: black 3px solid;
}

.calling {
    background-color: aquamarine;
}

.playing {
    border-bottom: red 2px solid;
}

#opponents {
    border: black 1px solid;
}

#calling {
    border: black 1px solid;
    min-height: 10%;
}

#my-cards {
    border: black 1px solid;
}

.opponent .hand {
    padding-left: 20px;
}